html {
    font-family: 'Montserrat', sans-serif;
}

body {
    color: white;
    padding: 1rem;
    background-color: rgb(27, 114, 5);
    background-image: linear-gradient(180deg, #1b72051f 0%, rgb(0 0 0 / 81%) 100%),url(./deckImgs/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 1px;
    background-attachment: fixed;
    background-position: center center;
}

.card-btn {
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: whitesmoke;
    color: black;
    margin: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.281);
}

.btn-box {
    display: flex;
}

.card-btn:hover {
    background-color: rgb(226, 240, 226);
    cursor: pointer;
    transition-duration: 0.2s;
    transform: scale(1.07);
}

.card-btn:active {
    background-color: rgb(215, 255, 163);
}

.card-btn:disabled {
    background-color: rgb(129, 129, 129);
    color: rgb(214, 214, 214);
    cursor: default;
    box-shadow: none;
}

.card-btn:disabled:hover {
    transform:none
}

.card-box {
    text-align: center;
    margin: 1rem;
}

.your-card {
    font-size: 1.1rem;
    margin: 1rem;
}

.card-name {
    font-size: 1.3rem;
    font-weight: 600;
}

.card-name::first-letter {
    text-transform: uppercase;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem auto;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardImg {
    height: 250px;
    margin: 1rem;
}

.playersCard-img {
    height: 130px;
    margin: 0.5rem -1.4rem;
    filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.671));
}

.decks-on-table {
    display: flex;
    width: 850px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem;
    max-width: 90%;
}